
<div class="container">
  <div class="jumbotron">
    <h2>Create a PCF user/org/space for a user</h2>
    <h4>(Digifabricpcf instance)</h4>
  </div>
  <div class="panel panel-primary">
        <div class="panel-body">    

            <form class="span8 form-horizontal" (ngSubmit)="submit(''+Email,''+Batch,''+ExpirationDate,''+form.controls['mailOption'].value,''+AdminUsername,''+AdminPassword)"
                #pcfCreationForm="ngForm">

                <div class="form-group">
                    <label class="col-sm-2 control-label">Email : </label>
                    <div class="col-sm-5">
                        <input name="ename" class="form-control" id="focusedInput" type="email" placeholder="Enter the email id" [(ngModel)]="Email"
                            required minlength="6" #ename="ngModel">
                        <div *ngIf="ename.invalid && (ename.dirty || ename.touched)"
                            class="alert alert-danger">
                            <div *ngIf="ename.errors.required">
                                E-mail is required.
                            </div>
                            <div *ngIf="ename.errors.minlength">
                                E-mail must be at least 6 characters long.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                <label class="col-sm-2 control-label">Tag Name : </label>
                    <div class="col-sm-5">
                        <input name="tname" class="form-control" id="focusedInput" type="text" placeholder="Tag Name" [(ngModel)]="Batch" 
                            required #tname="ngModel">
                        <div *ngIf="tname.invalid && (tname.dirty || tname.touched)"
                            class="alert alert-danger">
                            <div *ngIf="tname.errors.required">
                                Tag Name is required.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                <label class="col-sm-2 control-label">Expiration Date : </label>
                    <div class="col-sm-5">
                        <input name="date" class="form-control" id="focusedInput" type="date" placeholder="Expiration Date" [(ngModel)]="ExpirationDate" required>
                    </div>
                </div>

                <div>
                <br/>
                <form [formGroup]="form">
                    <input type="radio" formControlName="mailOption" value="1" > Send credentials to the user's mail id
                    <input type="radio" formControlName="mailOption" value="0"> Show credentials here
                </form>
                </div>

                <button type="submit" class="btn btn-success"  
                    [disabled]="!pcfCreationForm.form.valid"> 
                    <span class="glyphicon glyphicon-user"></span> Create User
                </button>
            </form>
            
        </div>
    </div>
</div>

<ul>
      <li><a [routerLink] = "['']">Logout</a></li>
</ul>

<div class="text-center">
    <p>
        <a href="https://apps.system.dev.digifabricpcf.com" target="_top">Apps manager for digifabric instance</a>
    </p>
</div>